abattlemetrics @ git+https://github.com/thegamecracks/abattlemetrics@de7d75fbf306ee61279ac1503a24766cd23ceaaf
asqlite @ git+https://github.com/Rapptz/asqlite@ffc55a5b3d1b5e9c440c01620148be7fa6493ef5
autopep8==1.6.0
dateparser==1.1.0
disnake==2.3.0
disnake-jishaku==2.6.5
emoji==1.6.1
humanize==3.12.0
inflect==5.3.0
matplotlib==3.4.3
mcstatus==6.5.0
numpy==1.21.4
Pillow==8.4.0
Pint==0.18
psutil==5.8.0
python-dateutil==2.8.2
python-dotenv==0.19.1
qrcode==7.3.1
