abattlemetrics @ git+https://github.com/thegamecracks/abattlemetrics@de7d75fbf306ee61279ac1503a24766cd23ceaaf
aiohttp==3.7.4
asqlite @ git+https://github.com/Rapptz/asqlite@ffc55a5b3d1b5e9c440c01620148be7fa6493ef5
astunparse==1.6.3
async-timeout==3.0.1
asyncio-dgram==2.1.0
attrs==19.3.0
autopep8==1.5.7
braceexpand==0.1.7
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cycler==0.10.0
dateparser==1.1.0
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@309c70222eec33acacb8c21bbb0fbe9bc57de661
discord.py @ git+https://github.com/iDevision/enhanced-discord.py@96153bb177d5a9e0be81f8c05e57d8777f4cd926
dnspython==2.1.0
emoji==1.2.0
humanize==3.9.0
idna==2.10
import-expression==1.1.4
inflect==5.2.0
jishaku==2.0.0
kiwisolver==1.3.1
matplotlib==3.4.3
mcstatus==6.5.0
multidict==5.2.0
numpy==1.21.1
packaging==20.4
Pillow==8.3.2
Pint==0.16.1
prettify.py @ git+https://github.com/ShineyDev/prettify.py@735d007b72f06256b3c4dfc4692f32a1011315db
psutil==5.8.0
pycodestyle==2.7.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.19.1
pytz==2021.1
qrcode==6.1
regex==2021.7.6
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
tzlocal==2.1
yarl==1.6.0
